/* form{
    border : 2px solid black;
    background-color: aqua;
    padding : 10px;
    margin: 30px;
    width : 400px;
    border-radius: 1rem;
    position: absolute;
   
}

#password{
    background-color: blueviolet;
    font-size: small;
    
}

#submit {
    background: #000;

}

label{
    font-weight: bold;
    background-color: aliceblue;
    display: block;
}

.box {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    position: static;
}

.box span {
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: red;
} */


.container{
    display: flex;
}


.container div {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    flex-direction: row;
}

